.header-administracion{
  margin: 50px 0 30px 0;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  padding-right: 60px;
}
.header-administracion button{
  color: white;
  background-color: #0025cc;
  border: 1px solid white;
  padding: 0 20px;
  transition: all 0.2s ease;
}
.header-administracion button:hover{
  color: #0025cc;
  background-color: white;
  border: 1px solid #0025cc;
}
.encabezado-administracion{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #333;
    color: white;
}
.encabezado-administracion #inicio{
    display: flex;
    column-gap: 10px;
    align-items: center;
    width: 25%;
}
.encabezado-administracion #inicio a:visited{
    color: white;
    text-decoration: none;
}
.encabezado-administracion #inicio a{
    color: white;
    text-decoration: none;
}
.encabezado-administracion h1{
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    font-size: 3em;
    width: 65%;
    margin: 0;
}
.administracion{
    display: flex;
    column-gap: 60px;
    
}
.sidebar {
    width: 400px;
    min-height: calc(100vh - 100px);
    background-color: #333;
    color: white;
    cursor: pointer;
}
.sidebar ul {
    padding: 0;
}
.sidebar ul li{
    text-align: center;
    padding: 50px 40px;
}

.submenu-hidden {
    display: none;
}

.submenu-visible {
    display: block;
}
.secciones{
    width: 100%;
}
.lista-noticias{
  width: 80%;
}

.noticia-formulario {
    max-width: 55vw;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.noticia-formulario input[type="text"],
.noticia-formulario textarea,
.noticia-formulario input[type="date"],
.noticia-formulario input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.noticia-formulario .checkbox-destacada {
    display: block;
    margin-bottom: 15px;
}

.noticia-formulario .checkbox-destacada input[type="checkbox"] {
    margin-right: 10px;
}

.noticia-formulario .imagenes-previas {
    margin-bottom: 15px;
}

.noticia-formulario .imagenes-previas .imagen-previa {
    max-width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.noticia-formulario .boton-insertar {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(64, 98, 247); 
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.noticia-formulario .boton-insertar:hover {
    background-color: rgb(89, 114, 228); 
}


.button {
    position: relative;
    width: 200px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #17795E;
    background-color: #209978;
    overflow: hidden;
  }
  
  .button, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button .button__text {
    transform: translateX(10px);
    color: #fff;
    font-weight: 600;
  }
  
  .button .button__icon {
    position: absolute;
    transform: translateX(153px);
    height: 100%;
    width: 39px;
    background-color: #17795E;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button .svg {
    width: 20px;
    fill: #fff;
  }
  
  .button:hover {
    background: #17795E;
  }
  
  .button:hover .button__text {
    color: transparent;
  }
  
  .button:hover .button__icon {
    width: 148px;
    transform: translateX(21px);
  }
  
  .button:active .button__icon {
    background-color: #146c54;
  }
  
  .button:active {
    border: 1px solid #146c54;
  }

  .edit-button {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #0025cc;
    background-color: #005ce5;
    overflow: hidden;
  }
  
  .edit-button, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .edit-button .button__text {
    transform: translateX(35px);
    color: #fff;
    font-weight: 600;
  }
  
  .edit-button .button__icon {
    position: absolute;
    transform: translateX(103px);
    height: 100%;
    width: 39px;
    background-color: #0025cc;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .edit-button .svg {
    width: 20px;
  }
  
  .edit-button:hover {
    background: #005ce5;
  }
  
  .edit-button:hover .button__text {
    color: transparent;
  }
  
  .edit-button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .edit-button:active .button__icon {
    background-color: #005ce5;
  }
  
  .edit-button:active {
    border: 1px solid #005ce5;
  }
  

  .del-button {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #cc0000;
    background-color: #e50000;
    overflow: hidden;
  }
  
  .del-button, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .del-button .button__text {
    transform: translateX(25px);
    color: #fff;
    font-weight: 600;
  }
  
  .del-button .button__icon {
    position: absolute;
    transform: translateX(103px);
    height: 100%;
    width: 39px;
    background-color: #cc0000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .del-button .svg {
    width: 20px;
  }
  
  .del-button:hover {
    background: #cc0000;
  }
  
  .del-button:hover .button__text {
    color: transparent;
  }
  
  .del-button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .del-button:active .button__icon {
    background-color: #b20000;
  }
  
  .del-button:active {
    border: 1px solid #b20000;
  }

  table {
    width: 99%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tr:hover {
    background-color: #f2f2f2;
  }

  .lista-imagenes{
    display: flex;
    flex-flow: wrap;
    column-gap: 15px;
    row-gap: 15px;
  }

  .imagen-item{
    width: 300px;
  }
  .imagen-galeria{
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
  hr{
    margin:0;
  }

  .administracion .acciones{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
  }
  