.inscripciones-form {
    max-width: 600px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
  }
  
  .form-label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .form-error {
    color: #cc0000;
    font-size: 0.9rem;
    margin-top: -10px;
  }
  
  .form-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form-button:hover {
    background-color: #0056b3;
  }
  .paypal-button{
    margin: auto;
    width: 62%;
  }

  .mensaje-formulario a{
    color: #007bff !important;
    text-decoration: underline !important;
    cursor: pointer;
  }
  .mensaje-formulario ul{
    list-style-type: disc;
  }
