.session-container span{
color: rgb(64, 98, 247);
cursor: pointer;
}

#all-form{
    margin-left: 30%;
    width: 40%;
}

.formulary {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    width: 100%;
    flex-direction: column;
    gap: 35px;
    background: var(--Blanco);
}

.inputBox {
    position: relative;
    width: 100%;
}

.inputBox input, .inputBox textarea {
    width: 100%;
    padding: 5px;
    outline: none;
    border: none;
    color: var(--Negro);
    font-size: 1em;
    background: transparent;
    border-left: 3px solid var(--Negro);
    border-bottom: 3px solid var(--Negro);
    transition: 0.1s;
}

.inputBox textarea{
    resize: none;
}

.inputBox h5 {
    margin-top: -10px;
    position: absolute;
    left: 0;
    transform: translateY(-7px);
    margin-left: 5px;
    pointer-events: none;
    font-size: 12px;
    color: var(--Negro);
    
    transition: 0.3s;
    text-transform: uppercase;
}

.inputBox input:valid~h5,
.inputBox input:focus~h5
 {
    transform: translateX(5px) translateY(-44px);
    font-size: 0.8em;
    letter-spacing: 0.2em;
    color: var(--Negro);
    border: 2px;
}

.inputBox input:valid,
.inputBox input:focus,
.inputBox textarea:valid,
.inputBox textarea:focus {
    border: 3px solid var(--Negro);
}

.enter {
    height: 45px;
    width: 100px;
    border: 3px solid var(--Negro);
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    margin-bottom: 1em;
    font-weight: 700;
    color: var(--Negro);
}

.enter:hover {
    background-color: var(--Negro);
    color: var(--Blanco);
}
#contacto h3{
    text-align: center;
    margin-bottom: 30px;
    font-weight: bolder;
}