/* SLIDER INICIAL */
.carousel-item {
  position: relative;
}
.carousel-item img{
  height: 75vh;
  object-fit: cover;
}
header .carousel-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%, rgba(0, 0, 0, 0.8) 100%);
}
.carousel-caption {
  position: absolute;
  width: 100%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  color: white; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.carousel-caption h5 {
   font-family: "Montserrat", sans-serif;
   font-style: italic;
   font-weight: bolder;
  font-size: 5rem;
  font-size: calc(1em + 3vw);
}
.carousel-caption p{
  font-family: "Montserrat", sans-serif;
 font-size: calc(1em + 1vw);
}
/* FIN DE LA CONFIGURACIÓN DEL SLIDER */

/* SECCIÓNES DE INICIO */
.article{
  margin: 20px 150px;
  font-family:"Montserrat", sans-serif;
}
 h2{
  font-family: "Bebas Neue", sans-serif;
  width: fit-content;
  font-size: calc(1em + 2.5vw);
  margin: 0 0 30px 0;
}
#valores-title{
  margin-bottom: 20px;
}
.rectangulo {
  margin: 0 0 20px 0;
  width: 70px;
  height: 10px; 
  background-color: rgb(64, 98, 247); 
} 

/* SECCIÓN DE HAZAÑAS/NOTICIAS */
.flex-hazañas{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 40px;
  column-gap: 25px;
}
.hazaña{
display: flex;
flex-direction: column;
row-gap: 20px;
width: 350px;
padding: 25px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
text-align: center;
}

.hazaña h5{
  font-weight: 600;
  margin: 0;
}
.hazaña .content{
  margin: 0;
}

.etiqueta {
  position: absolute;
  bottom: 0; 
  left: 0; 
  color: white; 
  background-color: rgba(64, 98, 247, 0.753);
  padding: 5px 10px; 
  border-radius: 0 4px 4px 0;
}

.hazaña img {
  display: block;
  width: 100%; 
  height: 250px;
  transition: transform 0.2s ease;
  object-fit: cover;
}

.imagen-hazaña {
  position: relative;
  overflow: hidden; 
  width: 100%; 
}

.imagen-hazaña::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
  opacity: 0;
  transition: opacity 0.3s ease;
}

.imagen-hazaña:hover::before {
  opacity: 1;
}

.lupa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.imagen-hazaña:hover .lupa {
  opacity: 1; 
}
/* FIN DE LA CONFIGURACIÓN DE HAZAÑAS */

/* SECCIÓN DE VALORES */
.valores-section{
  position: relative;
  background-color: #1f1f1f;
  color: white;
  padding-top: 10px;
  margin-top: 50px;
}
.valores-section:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgb(64, 98, 247) 1%, #ffffff 40%, rgb(64, 98, 247) 100%);
  transform: skewY(-1deg);
  z-index: -1;
}
.valores-content{
  display: flex;
  flex-flow: wrap;
  padding-bottom: 40px;
}
.valores-content p{
margin-bottom: 30px;
}
.valores-content .valores-parte2 .slider{
  width: 45%;
}
.valores-content .valores-parte2 .slider img, video{
  height: 25vw;
  object-fit: cover;
}
.valores-parte2{
  width: 100%;
  display: flex;
  flex-flow: wrap;
  align-items: center;
justify-content: space-between;
}
.conjunto-valores{
  display:grid;
  width: 50%;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
.skill-element{
  width: 100px;
  height: 100px;
  margin: 40px;
}
.progress-container {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color:rgb(64, 98, 247);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}
.progress-container span{
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.3);
}
.progress-container span i{
  font-size: 2.5rem;
  background: none;
}
.skill-element p{
  text-align: center;
  font-weight: 700;
  margin: 5px;
}

/* FIN DE LA SECCIÓN DE VALORES */
.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.fullscreen-image-container {
  width: 100%;
  height: 75%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fullscreen-image-container > div{
  position: relative;
  width: 40%;
  height: 100%;
}

.fullscreen-image-container > div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.fullscreen-image-container > div .button {
  position: absolute;
  top:-70px;
  right: -70px;
  width: 4em;
  height: 4em;
  border: none;
  background: rgba(180, 83, 107, 0.11);
  border-radius: 5px;
  transition: background 0.5s;
  z-index: 999;
}

.X {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2em;
  height: 1.5px;
  background-color: rgb(255, 255, 255);
  transform: translateX(-50%) rotate(45deg);
}

.Y {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2em;
  height: 1.5px;
  background-color: #fff;
  transform: translateX(-50%) rotate(-45deg);
}

.fullscreen-image-container .button:hover {
  background-color: rgb(211, 21, 21);
}

.fullscreen-image-container .button:active {
  background-color: rgb(130, 0, 0);
}

.fullscreen-image-container .button:hover > .close {
  animation: close 0.2s forwards 0.25s;
}

@keyframes close {
  100% {
    opacity: 1;
  }
}


/* MEDIA QUERIES */
@media (max-width: 1300px) {
  .valores-content .valores-parte2 .slider{
    width: 80%;
  }
  .valores-parte2{
  justify-content: space-evenly;
  }
  .conjunto-valores{
    width: 100%;
  }
  
  .valores-content .valores-parte2 .slider img, video{
    height: 35vw;
    object-fit: cover;
  }
}

@media (max-width: 1050px) {
  .carousel-caption {
    top: 53% !important;
  }
  article {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
  .image{
    margin:0 !important;
  }
  h2, .rectangulo{
   margin-left: 50px;
  }
  .carousel-item img{
    height: 50vh;
  }
}

@media (max-width: 768px) {
  .carousel-item img{
    height: 40vh;
  }
  .hazañas-section{
    margin-top: 50px;
  }
  .hazaña img {
    height: 65vw;
  }
  .hazaña h5{
    font-size: 1.2em;
    font-weight: 700;
  }
  .hazaña .etiqueta{
    font-size: 1em;
  }
  .hazaña .content{
    font-size: 0.85em;
  }
  h2, .rectangulo{
    margin-left: 0;
  }
  .hazaña{
    width: 100%;
    padding: 0;
  }
  .hazaña .content{
    padding: 0 20px 0 ;
  }
  h2{
    font-size: calc(2em + 4vw);
  }
  .valores-content .valores-parte2 .slider{
    width: 100%;
  }
  .valores-content .valores-parte2 .slider img, video{
    height: 55vw;
  }
  .conjunto-valores{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 100%;
  }
  .skill-element{
    width:15vw;
    height:15vw;
    margin: 40px;
  }
  .progress-container span i{
    font-size: 1.5rem;
  }
  .skill-element p{
    margin: 5px 0 0 0;
    font-size: calc(0.5em + 1vw);
  }
}